/*------------Body------------------------------------------------*/
h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------/Body------------------------------------------------*/
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  /* background-color: yellow;*/
}

/*----------Header---------------------------------------------- */
.top-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.menu-nav-list.current {
  position: relative;
}

.menu-nav-list.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.text-logo {
  color: #2e2f42;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-page {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-nav-list {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.link-contact:hover,
.link-contact:focus,
.menu-nav-list:hover,
.menu-nav-list:focus,
.menu-nav-list.current {
  color: #404bbf;
}

/* link-contact */
.contacts {
  font-style: normal;
  margin-left: auto;
}

.link-contact {
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-----------/Header--------------------------------------------*/
/*-----------Main-----------------------------------------------*/
/*-----------Section1-------------------------------------------*/
.page-section-first {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-first {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-first {
}

.main-text {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 48px;
}

.button-order-service {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order-service:hover,
.button-order-service:focus {
  background: #404bbf;
}

/*-----------/Section1------------------------------------------*/
/*------------Section2------------------------------------------*/
.page-section-second {
  padding: 120px 0;
}

.icons-section-second {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.main-text-page-section-second {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.text-page-section-second {
  width: calc((100% - 72px) / 4);
}

.title-page-section-second {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.text-section-second {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------/Section2--------------------------------------------*/
/*-----------Section3---------------------------------------------*/
.page-section-third {
  padding: 120px 0;
  background: #f4f4fd;
}

.text-our-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}

.container-foto {
  display: flex;
  gap: 24px;
}

.foto {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  background: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-text {
  padding: 32px 0;
}

.sosial-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icons {
  fill: #f4f4fd;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.title-page-section-third {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-section-third {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-----------/Section3--------------------------------------------*/
/*------------Section4--------------------------------------------*/
.page-section-fourth {
  padding: 120px 0;
}

.container-fourth {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.text-our-portfolio {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.text-title-section-fourth {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
  color: #2e2f42;
}

.text-fourth {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.text-section-fourth {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-item-foto {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-foto-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.list-item-foto:hover,
.list-item-foto:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-item-foto:hover .overlay-text,
.list-item-foto:focus .overlay-text {
  transform: translateY(0%);
}

/*-----------/Section4-------------------------------------------*/
/*----------/Main------------------------------------------------*/
/*-----------Footer----------------------------------------------*/
.page-footer {
  padding: 100px 0;
  background: #2e2f42;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-right: 120px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.text-logo-footer {
  color: #f4f4fd;
}

.text-footer {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-container-soc {
  margin-right: 80px;
}
.text-soc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-sosial-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-icons {
  fill: #f4f4fd;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.footer-subscribe {
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-subscribe-label {
}
.footer-subscribe-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  outline: transparent;
}
.footer-subscribe-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: backgroud-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #31d0aa;
}
/*-----------Foooter---------------------------------------------*/
/*--Backdrop--*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  overflow: auto;
  padding: 72px 24px 24px 24px;

  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-close {
  stroke: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 360px;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-close-btn:focus,
.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.feedback-form-field-wrapper {
  margin-bottom: 8px;
}
.feedback-form-field-comment {
  margin-bottom: 16px;
}
.feedback-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.feedback-form-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.feedback-form-field-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form-field-input:focus,
.feedback-form-field-input:hover {
  border-color: #4d5ae5;
  outline: none;
}
.feedback-form-field-input:focus + .feedback-form-icon {
  fill: #4d5ae5;
}

.feedback-form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.feedback-form-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}
.feedback-form-checkbox {
  margin-bottom: 24px;
}

.feedback-form-checkbox-input:checked
  + .feedback-form-checkbox-label
  > .feedback-form-custom-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.feedback-form-checkbox-input:focus
  + .feedback-form-checkbox-label
  > .feedback-form-custom-checkbox {
  outline: 1px solid #4d5ae5;
}
.feedback-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.feedback-form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form-checkbox-link {
  text-decoration: underline;
  color: #4d5ae5;
}
.modal-button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.modal-button-send:hover,
.modal-button-send:focus {
  background: #404bbf;
  border-color: #404bbf;
}

/*--/Backdrop--*/
